header {
    margin : 0 auto;
    background-color: dimgray;
    display: flex;
    align-items: center;
}

.header-button {
    width : 120px;
    height : 70px;
    display : inline-flex;
    align-items: center;
    border: solid 1px salmon
}

.header-text {
    color : white;
    margin : 0 auto;
    font-weight: 400;
    font-size: 24px;
}

.header-menu-group {
    margin : 0 auto
}
