@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"),
         url("/fonts/Roboto-Regular.ttf") format("ttf"),
}

body {
    margin: 0 auto;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 14px;
    background-color: rgb(31, 31, 43);
}

.login-content-block {
    display: flex;
    position: relative;
    width: 21%;
    margin : 17% auto;
    background-color: whitesmoke;
    border-radius: 5%;
}

.login-form-block {
    display: flex;
    position: relative;
    margin: .9em auto;
    width : 70%;
    align-items: center;
    flex-direction: column;
}

.login-item {
    display: flex;
    position: relative;
    margin: .5em auto;
    width: 100%;
    align-items: center;
}

.login-item-input {
    display: flex;
    position: relative;
    margin: 0 auto;
    box-sizing : border-box;
    width : 100%;
    height: 35px;
}

.login-item-checkbox {
    display: flex;
    position: relative;
    margin-right: 5%;
    box-sizing : border-box;
    width : auto;
    max-width : 100%;
}

.login-item-button-submit {
    display: block;
    box-sizing : border-box;
    width: 50%;
    max-width : 100%;
    height: auto;
    margin : 0 auto
}
